manifest {
    name = 'cocnt-cuttag-preprocess'
    author = 'OpenAI Codex'
    homePage = '.'
    description = 'Nextflow pipeline for CoCnT/CUT&Tag barcode rewriting, trimming, alignment, BED, and BigWig generation.'
    version = '0.1.0'
}

params {
    input_mode = 'paired_fastq'
    input_dir = null
    primer_annot = null
    tn5_annot = null
    fastq1 = null
    fastq2 = null
    umi1 = null
    umi2 = null
    demux_min_reads = 10000
    out_dir = 'results'
    barcode_matrix = null
    barcode_suffix = ''
    skip_barcode_rewrite = false
    enable_sample_filter = true
    skip_patterns = ['PosCtrl', 'NegCtrl', 'Fiducial', 'PBS', 'Undetermined']
    adapter_seq = 'CTGTCTCTTATACACATCT'
    ref = null
    chrom_sizes = null
    publish_mode = 'copy'
    conda_env = "${projectDir}/envs/cuttag-preprocess.yml"
    singularity_image = "${projectDir}/containers/cuttag-preprocess.sif"
    container_bind_paths = '/varidata'
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']
    withName: REWRITE_BARCODES {
        cpus = 1
        memory = '4 GB'
    }
    withName: TRIM_ADAPTERS {
        cpus = 8
        memory = '32 GB'
    }
    withName: ALIGN_READS {
        cpus = 16
        memory = '256 GB'
        time = '18h'
    }
    withName: BAM_TO_BED {
        cpus = 4
        memory = '32 GB'
    }
    withName: BED_TO_BIGWIG {
        cpus = 4
        memory = '32 GB'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        singularity.enabled = false
        conda.enabled = false
    }

    conda {
        conda.enabled = true
        process.conda = params.conda_env
    }

    singularity {
        singularity.enabled = true
        apptainer.enabled = false
        singularity.autoMounts = true
        singularity.runOptions = "--bind ${params.container_bind_paths}"
        process.container = params.singularity_image
    }

    apptainer {
        apptainer.enabled = true
        singularity.enabled = false
        apptainer.autoMounts = true
        apptainer.runOptions = "--bind ${params.container_bind_paths}"
        process.container = params.singularity_image
    }
}
